.wrapper {
  padding: 12px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.header {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: var(--gray0);
  }
}

.header-title {
  font-size: 17px;
  font-weight: 900;

  span + & {
    margin-left: 13px;
  }
}

// .list-wrapper {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

.separator {
  margin: 2px 0;
  height: 1px;
  width: 100%;
  background-color: var(--gray2);
}

.item-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px 10px 3px 0;
  font-size: 11px;
  font-weight: 800;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;

  & + .item-wrapper {
    margin-top: 5px;
  }

  &:hover {
    background-color: var(--gray0);
  }
}

.item-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: var(--gray0);
  border-radius: 50%;
}

.item-title {
  margin-left: 10px;
  cursor: pointer;
}

.label-avt-input {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--blue1);
  font-size: 13px;
}

.select-avt-input {
  opacity: 0;
  position: absolute;
  width: 100px;
  z-index: -1;
}

.root-element-of-upload-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
