.wrapper {
  min-height: calc(100vh - 59px);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #f0f2f5;
  z-index: 0;
}

.sidebar,
.complementary {
  position: sticky;
  top: 70px;
  right: 0;
  max-width: 360px;
  height: 100%;

  overflow-y: scroll;
}

.sidebar {
  flex: 1;
}

.content {
  flex: 1.5;
  max-width: 900px;
  padding: 0 55px;
}

.post-wrapper {
  padding: 0 10px;
  margin-top: 13px;
}

.complementary {
  flex: 1;
}

@media screen and (max-width: 1100px) {
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    justify-content: center;
  }

  .content {
    flex: 1;
  }

  .complementary {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .content {
    padding: 25px;
  }
}

@media screen and (max-width: 650px) {
  .content {
    padding: 20px;
  }
}

@media screen and (max-width: 550px) {
  .content {
    padding: 0;
  }

  .post-wrapper {
    padding: 0;
    border-radius: 0;
  }
}
