.messenger-pop-up-wrapper {
  display: flex;
}

.messenger-pop-up-maximum-wrapper {
  display: flex;
  padding-right: 10px;
}

.messenger-pop-up-minimize-wrapper {
  padding: 0 20px 20px 0;
  align-self: flex-end;
}
