.wrapper {
  width: 100%;
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

.main {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.messenger-pop-up-parent {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 0px;
  width: 0px;
}
