.wrapper {
  width: 100%;
  padding: 0 10px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: var(--box-shadow-main);
}

.header {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: EncodeSans-ExtraBold;
  font-size: 17px;
}

.main {
  display: flex;
  flex-direction: column;
}

.edit-btn {
  margin: 10px 0;
  width: 100%;
  flex: 1;
  padding: 7px 0;
  font-size: 13px;
  font-family: EncodeSans-Bold;

  &:hover {
    background-color: var(--gray2);
  }
}

.bio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio-value {
  font-size: 13px;
}

.edit-bio-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bio-text-area {
  flex: 1;
  min-height: 65px;
  padding: 10px 5px;
  text-align: center;
  background-color: var(--gray0);
  border-radius: 5px;
  border: 1px solid var(--gray2);
  font-family: EncodeSans-Bold;
  resize: none;

  &:focus {
    outline: 1px solid var(--blue1);
  }

  &::placeholder {
    font-family: EncodeSans-Bold;
  }
}

.word-remaining {
  margin-top: 3px;
  text-align: end;
  font-size: 11px;
}

.edit-bio-control {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-bio-control-status {
  display: flex;
  align-items: center;
}

.edit-bio-control-status-icon-wrapper {
  font-size: 19px;
  color: var(--text-color6);
}

.edit-bio-control-status-title {
  margin-left: 5px;
  font-size: 13px;
}

.edit-bio-control-btn-group {
  display: flex;
}

.edit-btn.btn-normal {
  margin: 0;
  padding: 7px 10px;

  & + button {
    margin-left: 5px;
  }
}

.btn-submit {
  width: 100%;
  flex: 1;
  padding: 7px 10px;
  font-size: 13px;
  font-family: EncodeSans-Bold;
}

.btn-submit.disabled {
  background-color: var(--gray0);
  color: var(--gray1);
  cursor: no-drop;
}

.btn-submit.enabled {
  background-color: var(--blue0);
  color: var(--gray0);

  &:hover {
    background-color: var(--light-hover-blue);
  }
}
