.minimize-messenger-wrapper {
  position: relative;
  width: 55px;
  height: 55px;
  cursor: pointer;

  & + & {
    margin-top: 10px;
  }

  &:hover {
    .minimize-messenger-absolute .minimize-messenger-absolute-close {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .minimize-messenger-absolute .minimize-messenger-absolute-new-message-quantity {
      display: none;
    }
  }
}

.minimize-messenger-avatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--box-shadow-main);
  overflow: hidden;
}

.minimize-messenger-absolute {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;

  .minimize-messenger-absolute-item {
    height: 100%;
    width: 100%;
    font-size: 15px;
    border-radius: 50%;
    transition: 0.3s;
  }

  .minimize-messenger-absolute-close {
    display: none;
    font-size: 16px;
    background-color: var(--white);

    &:hover {
      background-color: var(--gray2);
    }
  }

  .minimize-messenger-absolute-new-message-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    font-size: 20px;
    color: var(--white);
    background-color: var(--dark-red);
  }
}
